.player {
border: 1px solid black;
padding: 5px;
border-radius: 10px;
}

.player .btn {
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: inline-block;
	margin: 2px;
	border: none;
	box-shadow: inset 0 0 0 2px #CFDACF;
}

.player .btn.active {
	box-shadow: inset 0 0 0 0;
}

.player .btn:active{
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
} 

.player .btn.stop {
	background-image: url(playe_btns.jpg);
	background-position: -39px -6px;
	
}

.player .btn.play {
	background-image: url(playe_btns.jpg);	
	background-position: -8px -6px;
	
}

.player .btn.pause {
	background-image: url(playe_btns.jpg);
	background-position: -24px -6px;
}

.player .btn.next {
	background-image: url(playe_btns.jpg);
	background-position: -22px -24px;
	width: 22px;
}

.player .btn.prev {
	background-image: url(playe_btns.jpg);
	background-position: -4px -24px;
	width: 22px;
}

.player .btn.mute {
	background-image: url(playe_btns.jpg);
	background-position: -55px -43px;
}

.player .range {
	width: 100%;
	display: inline-block;
}

.player .trackName {

}